SOP_WPF_CLIENT/CLIENT/CLIENT/Connected Services/TodoService/TodoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOP_WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOP_WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserClient">
    <xs:sequence>
      <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserClient" nillable="true" type="tns:UserClient" />
  <xs:complexType name="ArrayOfTodoModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TodoModel" nillable="true" type="tns:TodoModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTodoModel" nillable="true" type="tns:ArrayOfTodoModel" />
  <xs:complexType name="TodoModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="todo_author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="todo_body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="todo_deadline" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="todo_id" type="xs:int" />
      <xs:element minOccurs="0" name="todo_priority" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="todo_title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TodoModel" nillable="true" type="tns:TodoModel" />
  <xs:complexType name="LoginFailedFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginFailedFault" nillable="true" type="tns:LoginFailedFault" />
  <xs:complexType name="NoAvailableTodoFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NoAvailableTodoFault" nillable="true" type="tns:NoAvailableTodoFault" />
  <xs:complexType name="TodoNotFoundFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TodoNotFoundFault" nillable="true" type="tns:TodoNotFoundFault" />
</xs:schema>